
<nav class="navbar navbar-expand-lg navbar-dark navbar-collapse" style="background-color: #2a206f ;">
 <img class="navbar-brand img-fluid" style="max-width: 100; height: auto;" src="https://image.ibb.co/cSwFvL/Insumarlogo.png" style="width: 14%;"> 
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarTogglerDemo02"> 
    <ul class="navbar-nav mr-auto">
        <li class="navbar-nav nav-item" *ngIf="isLogin">
            <a class="nav-link" routerLinkActive="active-link" routerLink="/home">
            <fa-icon [icon]="faHome" class="fa-2x"></fa-icon>
          </a>
          </li>
          <li class="nav-item dropdown" *ngIf="isLogin">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <fa-icon [icon]="faTruckLoading" class="fa-2x"></fa-icon>
              <strong> Administracion</strong>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLinkActive="active-link" routerLink="/entradas">
                <fa-icon [icon]="faBox" class="fa-2x"></fa-icon>
                <strong> Entradas</strong>
              </a>
              <a class="dropdown-item" routerLinkActive="active-link" routerLink="/salidas">
                <fa-icon [icon]="faBoxOpen" class="fa-2x"></fa-icon>
                <strong> Salidas</strong>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLinkActive="active-link" routerLink="/reportes">
                <fa-icon [icon]="faChartArea" class="fa-2x"></fa-icon>
                <strong> Reportes</strong>
              </a>
              <a class="dropdown-item" routerLinkActive="active-link" routerLink="/inventADMIN">
                <fa-icon [icon]="faBoxes" class="fa-2x"></fa-icon>
                <strong> Inventario</strong>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLinkActive="active-link" routerLink="/alimentador">
                <fa-icon [icon]="faTruckLoading" class="fa-2x"></fa-icon>
                <strong> Alimentador</strong>
              </a>
            </div>
          </li>
          <li class="nav-item dropdown" *ngIf="isLogin">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <fa-icon [icon]="faWarehouse" class="fa-2x"></fa-icon>
              <strong> Centro de Trabajo</strong>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLinkActive="active-link" routerLink="/entradasCT">
                <fa-icon [icon]="faBox" class="fa-2x"></fa-icon>
                <strong> Inventario</strong>
              </a>
              <a class="dropdown-item" routerLinkActive="active-link" routerLink="/salidasCT">
                <fa-icon [icon]="faBoxOpen" class="fa-2x"></fa-icon>
                <strong> Salidas</strong>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLinkActive="active-link" routerLink="/pedidosCT">
                <fa-icon [icon]="faChartArea" class="fa-2x"></fa-icon>
                <strong> Pedidos</strong>
              </a>
            </div>
          </li>
    </ul>
    <ul class="navbar-bar form-inline my-2 my-lg-0">
        <li class="navbar-nav nav-item" *ngIf="!isLogin">
          <a class="nav-link" routerLinkActive="active-link" routerLink="/login">
          <fa-icon [icon]="faSignInAlt" class="fa-2x"></fa-icon>
          <strong> Login</strong>
        </a>
        </li>
        <li class="navbar-nav nav-item" *ngIf="isLogin">
          <a class="nav-link" href="#" (click)="onClickLogout()">
            <fa-icon [icon]="faSignOutAlt" class="fa-2x"></fa-icon>
            <strong> Salir</strong>
          </a>
        </li>
    </ul>
  </div> 
</nav>

