<br>
<br>
<form #formGuardar="ngForm" (ngSubmit)="onGuardarProveedor(formGuardar)">
<legend>Producto Nuevo</legend>
<div style="overflow-x:auto;">
<table class="table table-light">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-active">
      <td>        
        <div class="form-group">
          <input type="text" class="form-control" placeholder="ID" id="ID" name="ID" [(ngModel)]="Proveedor.idprod" #id="ngModel">
        </div> 
      </td>
      <td>
          <div class="form-group">
              <input type="text" class="form-control" placeholder="Nombre" 
              id="Nombre" name="Nombre" [(ngModel)]="Proveedor.Nombre" #descripcion="ngModel">
            </div> 
      </td>
    </tr>
  </tbody>
</table> 
</div>
  <p class="lead">
    <button type="submit" class="btn btn-warning  btn-lg" value="Guardar"> Registrar</button>
  </p> 

</form>

