<br>
<br>
<legend>Proveedor Nuevo</legend>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Identificador</th>
      <th scope="col">Nombre</th>
      <th scope="col">Categoria</th>
      <th scope="col">Proveedor</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-active">
      
      <td>
        <form>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="ID" id="IDproveedor">
          </div> 
        </form>
      </td>
      <td>
          <form>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Nombre" id="Nombre">
              </div> 
            </form>
      </td>
      <td>
          <form>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Papeleria/Cafeteria/Oficina/etc.." id="inputDefault">
              </div> 
            </form>
      </td>
      <td>
          <form>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Proveedor" id="inputDefault">
              </div> 
            </form>
      </td>
    </tr>
  </tbody>
</table> 
  <p class="lead">
    <a class="btn btn-warning btn-lg" href="#" role="button">Registrar</a>
  </p>





