<div class="container" width="6000">
    <!--Bienvenida-->
    <div class="card-header col-md-3 mt-3 text-white form-inline" style="background-color: #2a206f"><h3><fa-icon [icon]="faTruckLoading"></fa-icon><strong> Bienvenid@</strong></h3></div>
    <!--Ultimos Movimientos-->
    <div class="card text-center mt-3 mb-1 ml-3 mr-3">
            <div class="card-header text-right text-white" style="background-color: #2a206f"><h2><strong>Resumen</strong></h2></div>
            <div class="card-body">
                <div class="row">
<!--Proximos a quedarse sin inventario-->
                    <div class="col">     
                        <div class="card mt-1 mb-1">
                            <div class="card-header text-center text-white" style="background-color: #f95959"><fa-icon [icon]="faBoxOpen" class="fa-1x"></fa-icon><h4>Insumos con inventario bajo</h4></div>
                                <div class="text-center">
                                    <ngx-datatable
                                        class="material"
                                        [headerHeight]="35"
                                        [columnMode]="'force'"
                                        [rowHeight]="'auto'"
                                        [footerHeight]="30"
                                        [count]="false"
                                        [limit]="3"
                                        [rows]="rows1"
                                        >
                                        <ngx-datatable-column name="Codigo">
                                            <ng-template ngx-datatable-cell-template let-value="value">
                                                {{value | date: 'dd-MM-yy' }}
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="Producto">
                                            <ng-template ngx-datatable-cell-template let-value="value">
                                            {{value}}
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="Inventario">
                                        <ng-template ngx-datatable-cell-template let-value="value">
                                            {{value}}
                                        </ng-template>
                                        </ngx-datatable-column>
                                    </ngx-datatable>
                                </div>
                        </div>
                    </div>
<!--Desplegar si las sucursales tiene solicitudes de insumos-->
                    <div class="col">     
                        <div class="card mt-1 mb-1">
                                    <div class="card-header text-white" style="background-color: #f5564e"><fa-icon [icon]="faAsignaciones" class="fa-1x"></fa-icon><h4>Asignaciones</h4></div>
                                        <div class="">
                                        <ngx-datatable
                                            class="material"
                                            [headerHeight]="35"
                                            [columnMode]="'force'"
                                            [rowHeight]="'auto'"
                                            [footerHeight]="30"
                                            [count]="true"
                                            [limit]="3"
                                            [rows]="rows2"
                                            >
                                            <ngx-datatable-column name="fecha">
                                                <ng-template ngx-datatable-cell-template let-value="value">
                                                    {{value | date: 'dd-MM-yy' }}
                                                </ng-template>
                                            </ngx-datatable-column>
                                            <ngx-datatable-column name="cantidad">
                                                <ng-template ngx-datatable-cell-template let-value="value">
                                                    {{value}}
                                                </ng-template>
                                            </ngx-datatable-column>
                                            <ngx-datatable-column name="producto">
                                                <ng-template ngx-datatable-cell-template let-value="value">
                                                    {{value}}
                                                </ng-template>
                                            </ngx-datatable-column>
                                            <ngx-datatable-column name="sucursal">
                                                <ng-template ngx-datatable-cell-template let-value="value">
                                                    {{value}}
                                                </ng-template>
                                            </ngx-datatable-column>
                                        </ngx-datatable>
                                    </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="card-footer text-right">
            <button type="button" class="btn btn-outline-primary" [routerLink]="['/inventADMIN']" routerLinkActive="router-link-active"><fa-icon [icon]="faAsignaciones"></fa-icon> Inventarios</button>
        </div>
    </div>





