<flash-messages class="text-center"></flash-messages>

<!--Bienvenida-->
<div class="card-header col-md-2 mt-3 text-white" style="background-color: #2a206f"><h3><strong>Bienvenid@:</strong></h3></div>

<!--Ultimos Movimientos-->
<div class="card mt-3 mr-3 ml-3">
        <div class="card-header text-center text-white" style="background-color: #2a206f"><h2><strong>Ultimos Movimientos</strong></h2></div>
<div class="row">
    <div class="col-sm-6">
        <div class="card  mt-3 mb-3 ml-3">
            <div class="card-header text-center text-white" style="background-color: #05cc47"><strong>Ultimos Ingresos</strong></div>
            <div class="card-body">
                <table class="table table-hover">
                    <thead class="table-info text-center">
                    <tr>
                        <th scope="col">Fecha</th>
                        <th scope="col">Ingreso</th>
                        <th scope="col">Stock</th>
                        <th scope="col">Producto</th>
                        <th scope="col">Proveedor</th>
                    </tr>
                    </thead>
                    <tbody class="text-center" style="background-color: #c4dff6">
                    <tr>
                        <td>03/12/18 - 11:49</td>
                        <td>40</td>
                        <td>Plumas</td>
                    </tr>
                    </tbody>
                    <tbody class="text-center" style="background-color: #c4dff6">
                        <tr>
                        <td>03/12/18 - 11:49</td>
                        <td>20</td>
                        <td>Papel</td>
                        </tr>
                        </tbody>
                    </table> 
                </div>
        </div>
    </div>
    <div class="col-sm-6">
            <div class="card mt-3 mb-3 mr-3">
                <div class="card-header text-center text-white" style="background-color: #e80d0e"><strong>Ultimas salidas</strong></div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead class="table-info text-center">
                        <tr>
                                <th scope="col">Fecha</th>
                                <th scope="col">Ingreso</th>
                                <th scope="col">Stock</th>
                                <th scope="col">Producto</th>
                                <th scope="col">Proveedor</th>
                        </tr>
                        </thead>
                        <tbody class="text-center text-white" style="background-color: #E87D7C">
                        <tr>
                            <td>03/12/18 - 11:49</td>
                            <td>40</td>
                            <td>Plumas</td>
                        </tr>
                        </tbody>
                        <tbody class="text-center text-white" style="background-color: #E87D7C">
                            <tr>
                            <td>03/12/18 - 11:49</td>
                            <td>20</td>
                            <td>Papel</td>
                            </tr>
                            </tbody>
                        </table> 
                    </div>
            </div>
        </div>
</div>
    <div class="card-footer text-muted text-right">Ultima Actualizacion</div>
</div>

<!-- Resumen-->
<div class="card mt-3 mr-3 ml-3">
        <div class="card-header text-center text-white" style="background-color: #2a206f"><h2><strong>Resumen</strong></h2></div>
<div class="row">
    <div class="col-sm-6">
        <div class="card  mt-3 mb-3 ml-3">
            <div class="card-header text-center text-white" style="background-color: #05cc47"><strong>Ultimos envios de Insumos</strong></div>
            <div class="card-body">
                <table class="table table-hover">
                    <thead class="table-info text-center">
                    <tr>
                        <th scope="col">Fecha</th>
                        <th scope="col">Producto</th>
                        <th scope="col">Envio</th>
                        <th scope="col">Sucursal</th>
                    </tr>
                    </thead>
                    <tbody class="text-center" style="background-color: #c4dff6">
                    <tr>
                        <td>03/12/18 - 11:49</td>
                        <td>40</td>
                        <td>Plumas</td>
                    </tr>
                    </tbody>
                    <tbody class="text-center" style="background-color: #c4dff6">
                        <tr>
                        <td>03/12/18 - 11:49</td>
                        <td>20</td>
                        <td>Papel</td>
                        </tr>
                        </tbody>
                    </table> 
                </div>
        </div>
    </div>
    <div class="col-sm-6">
            <div class="card mt-3 mb-3 mr-3">
                <div class="card-header text-center text-white" style="background-color: #ff6a00"><strong>Proximos a quedarse sin stock</strong></div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead class="table-info text-center">
                        <tr>
                            <th scope="col">Producto</th>
                            <th scope="col">Stock</th>
                            <th scope="col">Sucursal</th>
                        </tr>
                        </thead>
                        <tbody class="text-center text-white" style="background-color: #E87D7C">
                        <tr>
                            <td>03/12/18 - 11:49</td>
                            <td>40</td>
                            <td>Plumas</td>
                        </tr>
                        </tbody>
                        <tbody class="text-center text-white" style="background-color: #E87D7C">
                            <tr>
                            <td>03/12/18 - 11:49</td>
                            <td>20</td>
                            <td>Papel</td>
                            </tr>
                            </tbody>
                        </table> 
                    </div>
            </div>
        </div>
</div>
    <div class="card-footer text-muted text-right">Ultima Actualizacion</div>
</div>
