<br>
<br>
<form #formGuardar="ngForm" (ngSubmit)="onGuardarProducto(formGuardar)">
<legend>Producto Nuevo</legend>
<div style="overflow-x:auto;">
<table class="table table-light">
  <thead>
    <tr>
      <th scope="col">Descripcion</th>
      <th scope="col">Categoria</th>
      
    </tr>
  </thead>
  <tbody>
    <tr class="table-active">
        
      <td>
          <div class="form-group">
              <input type="text" class="form-control" placeholder="Nombre" 
              id="Nombre" name="Nombre" [(ngModel)]="Producto.Nombre" #descripcion="ngModel">
            </div> 
      </td>
      <td>
          
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Papeleria/Cafeteria/Oficina/etc.."
                 id="Categoria" name="Categoria" [(ngModel)]="Producto.categoria" #categoria="ngModel">
              </div> 
            
      </td>
     
    </tr>
  </tbody>
</table> 
</div>
  <p class="lead">
    <button type="submit" class="btn btn-warning  btn-lg" value="Guardar"> Registrar</button>
  </p> 

</form>
