<br>
<br>
<form #formGuardar="ngForm" (ngSubmit)="onGuardarProducto(formGuardar)">
<legend>Producto Nuevo</legend>
<div style="overflow-x:auto;">
<table class="table table-light">
  <thead>
    <tr>
      <th scope="col">Cantidad</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Identificador</th>
      <th scope="col">Categoria</th>
      <th scope="col">Proveedor</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-active">
      <th scope="row"> 
          <div class="form-group">
                <select class="form-control" id="Cantidad" name="Cantidad" [(ngModel)]="Producto.cantidad">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
                 </select>
          </div>
      </th>
      <td>
        
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Descripcion del Producto" id="Descripcion" name="Descripcion" [(ngModel)]="Producto.descripcion">
          </div> 
        
      </td>
      <td>
          
              <div class="form-group">
                <input type="text" class="form-control" placeholder="ID" id="ID" name="ID" [(ngModel)]="Producto.idprod">
              </div> 
            
      </td>
      <td>
          
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Papeleria/Cafeteria/Oficina/etc.." id="Categoria" name="Categoria" [(ngModel)]="Producto.categoria">
              </div> 
            
      </td>
      <td>
          
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Proveedor" id="Proveedor" name="Proveedor" [(ngModel)]="Producto.proveedor">
              </div> 
            
      </td>
    </tr>
  </tbody>
</table> 
</div>
  <p class="lead">
    <button type="submit" class="btn btn-warning  btn-lg" value="Guardar"> Registrar</button>
  </p> 

</form>



