
<div class="modal fade" id="modupdate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" >
        <h5 class="modal-title" id="exampleModalLabel">Modificar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form #formGuardar="ngForm" (ngSubmit)="updateform(formGuardar); updatestock(formGuardar)" >
          <div class="form-row" >
            <div class="form-group col-md-3">
                <label for="cantidad">Cantidad</label>
                <input type="number" class="form-control" id="cantidad" name="cantidad" [(ngModel)]="cantidad"  >
            </div>
            <div class="form-group col-md-3">
                <label for="pieza">Unidad</label>
                <select name="pieza" class="form-control" placeholder="Unidad" [(ngModel)]="unidad" >
                    <option [ngValue]="piezas"  *ngFor="let piezas of listadoPiezas | async">{{piezas.Nombre}} </option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="proveedores">Proveedor</label>
                <select name="proveedores" class="form-control" placeholder="proveedores"  [(ngModel)]="proveedores">
                    <option [ngValue]="proveedores" *ngFor="let proveedores of listadoProveedores | async" >{{proveedores.Nombre}}</option>
                </select>
            </div>    
            <div class="form-group col-md-3">
                <label for="precio">Precio</label>
                <input type="text" class="form-control" placeholder="$ " id="precio" name="precio"  [(ngModel)]="precio">
            </div>
              
          </div>
        </form>
        <div style="overflow-x:auto;"> 
        <table  class="row-border hover text-center" width="1050">
                <thead class="text-white bg-warning">
                    <tr>
                        <th scope="col">Fecha</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Pieza</th>
                        <th scope="col" >Producto</th>
                        <th scope="col" >Precio</th>
                        <th scope="col">Proveedor</th>
                        
                    </tr>
                </thead>
                <tbody style="background-color: #f2f7ff">
                   
                </tbody>
            </table>
</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" (click)="click()">Save changes</button>
      </div>
      
    </div>
  </div>
</div>