<div class="mr-1 ml-1">
<!-- Crear nueva sucursal -->
    <div class="col-sm-auto">
      <div class="card">
        <div class="card-header text-white text-center" style="background-color: #005792"><h4><strong>Crear nueva sucursal</strong></h4></div>
          <div class="card-body">
            <form #formGuardar="ngForm" (ngSubmit)="onGuardarSucursal(formGuardar)">
              <div style="overflow-x:auto;">
                <table class="table">
                  <thead class="text-center">
                    <tr>
                      <th scope="col" style="background-color: #f95959">ID</th>
                      <th scope="col" style="background-color: #455d7a; color: white">Nombre/Descripcion</th>
                      <th scope="col" style="background-color: #455d7a; color: white">Rol</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="table">
                      <td>        
                        <div class="form-group">
                        <input type="text" class="form-control" placeholder="TORRECONTROL" name="Id" [(ngModel)]="Sucursal.Id" #Id="ngModel">
                        </div> 
                      </td>
                      <td>
                        <div class="form-group">
                        <input type="text" class="form-control" placeholder="Torre de Control" name="sucursal" [(ngModel)]="Sucursal.Sucursal" #descripcion="ngModel">
                        </div> 
                      </td>
                      <td>
                        <div class="form-group">
                            <select class="form-control" id="CTtype" (change)="onChange($event.target.value)">
                              <option >Selecciona...</option>
                              <option [ngValue]="tipo">Sucursal</option>
                              <option [ngValue]="tipo">Oficina</option>
                              <option [ngValue]="tipo">Taller</option>
                            </select>
                          </div>
                      </td>
                    </tr>
                  </tbody>
                </table> 
              </div>
              <div class="card-footer"><button type="submit" class="btn btn-block text-white" value="Guardar" style="background-color: #005792"><h4><strong>Crear Sucursal</strong></h4></button></div>
            </form>
          </div>
        </div>
    </div><br>
<!-- Listado de Sucursales -->
    <div class="col-sm-auto">
      <div class="card">
        <div class="card-header text-center text-white" style="background-color: #005792"><h4><strong>Sucursales</strong></h4></div>
          <div class="card-body">
              <ngx-datatable
              class="material text-center"
              [headerHeight]="50"
              [columnMode]="'force'"
              [rowHeight]="'auto'"
              [footerHeight]="50"
              [count]="true"
              [limit]="2"
              [rows]="rows"
              width="469"
          > 
          <ngx-datatable-column name="Id" >
              <ng-template ngx-datatable-cell-template let-value="value">
                  {{value}}
              </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="sucursal">
              <ng-template ngx-datatable-cell-template let-value="value">
                  {{value}}
              </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Rol">
              <ng-template ngx-datatable-cell-template let-value="value">
                  {{value}}
              </ng-template>
          </ngx-datatable-column>
        <!-- Boton para eliminar Sucursal -->
          <ngx-datatable-column name="Eliminar">
              <ng-template ngx-datatable-cell-template>
                  <div class="formGroup">
                    <button class="btn btn-outline-danger"><fa-icon [icon]="faTimes"></fa-icon></button>
                  </div>
              </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
          </div>
        </div>
      </div>
</div>