<div class="row">
  <div class="card text-white mb-3 col-md-3 mx-auto mt-5" style="background-color: #2a206f ;">
   <div class="card-body">
     <legend class="text-center text-warning"><strong>Inicia Sesion</strong></legend>
    <form>
     <div class="form-group"> 
       <label for="NumEmpleado">Numero de Empleado</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><fa-icon [icon]="faUser"></fa-icon></span>
            </div>
            <input type="text" class="form-control" aria-label="NumEmpleado">
          </div>
     </div>
     <div class="form-group">
      <label for="password">Ingrese contraseña</label>
      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><fa-icon [icon]="faKey"></fa-icon></span>
          </div>
          <input type="password" class="form-control" aria-label="password">
        </div>
   </div>
     <button type="text" class="btn btn-primary btn-block btn-lg"><fa-icon [icon]="faDolly"></fa-icon> Ingresar</button>
    </form>
   </div>
  </div>
 </div>
 
 