<div class="row">
  <div class="card text-white mb-3 col-md-2 mx-auto mt-5" style="background-color: #2a206f ;">
   <div class="card-body">
     <legend class="text-center text-warning"><strong>Inicia Sesion</strong></legend>
    <form (submit)="onSubmitLogin()">
     <div class="form-group"> 
       <label for="email">Correo</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><fa-icon [icon]="faUser"></fa-icon></span>
            </div>
            <input [(ngModel)]="email" [ngModelOptions]="{standalone:true}" type="email" class="form-control" id="email" aria-describedby="email"  placeholder="correo@casanovarentacar.mx">
          </div>
     </div>
     <div class="form-group">
      <label for="password">Ingrese contraseña</label>
      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><fa-icon [icon]="faKey"></fa-icon></span>
          </div>
          <input [(ngModel)]="password" [ngModelOptions]="{standalone:true}" type="password" class="form-control" aria-label="password"  placeholder="*************">
        </div>
   </div>
     <button type="submit" class="btn btn-warning btn-block btn-lg"><fa-icon [icon]="faDolly"></fa-icon> Ingresar</button>
    </form>
    <div>
      
    </div>
   </div>
  </div>
 </div>
 
 