<div class="container">
  <!-- Captura datos para salida-->
  <div class="card bg-light mt-3">
    <form #formGuardar="ngForm" (ngSubmit)="onGuardarSalida(formGuardar); stock(formGuardar); sucursals(formGuardar)">
      <div class="card-header form-inline text-white" style="background-color: #900C3F"><h2><strong>Salidas Sucursales/Oficinas</strong></h2>
        <div class="input-group input-group-lg ml-3">
            <select class="custom-select text-white mx-auto" id="inputGroupSelect01" readonly="" style="background-color: #900C3F">
              <option selected>Sucursal...</option>
              <option value="1">Patriotismo</option>
              <option value="2">Patriotismo - Coorporativo</option>
              <option value="3">Centenario</option>
              <option value="4">La viga</option>
              <option value="5">Chapultepec</option>
              <option value="6">Vallejo</option>
              <option value="7">Tlalnepantla</option>
              <option value="8">Coacalco</option>
              <option value="9">Taller</option>
            </select>
          </div>
      </div>
        <div class="card-body" style="overflow-x:auto;"> 
          <table class="table table-light">
          <thead>
            <tr class="table-primary text-center">
              <th scope="col" >Fecha</th>
              <th scope="col" >Producto</th>
              <th scope="col">Cantidad</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-active">   
              <td>
                <div class="form-group">
                <input type="date" class="form-control  text-center"  id="fecha" name="fecha" [(ngModel)]="controlsalidas.fecha" #fecha="ngModel">        
                </div>     
              </td>    
              <td>
                <div class="form-group" >   
                  <select aria-valuetext="producto" name="producto" class="form-control" placeholder="Producto" [(ngModel)]="query" #producto="ngModel" (change)="onChange($event.target.value)">
                    <option [ngValue]="productos"  *ngFor="let productos of listadoProductos | async">{{productos.Nombre}} </option>
                  </select>
                </div>  
              </td>         
              <td>
                <div class="form-group">
                  <input type="number" class="form-control text-center" placeholder="Cantidad del Producto" id="cantidad" name="cantidad" [(ngModel)]="cantprod" #cantidad="ngModel" min="0" max="{{query.cantidad}}">
                </div> 
              </td>
            </tr>
          </tbody>
          </table> 
        </div>
      <div class="card-footer"><button type="submit" class="btn btn-warning btn-block" value="Guardar"><h3><strong>Registrar Salida</strong></h3></button></div>
    </form>
  </div>
  
  <!-- Muestra ultimos movimientos-->
  <div class="row mt-3 mb-3">
    <div class="col-sm-6">
      <div class="card"><div class="card-header text-white text-center" style="background-color: #005670"><h1><strong> STOCK</strong></h1></div>
        <div class="card-body">
          <form>
            <div style="overflow-x:auto;"> 
              <table ng-table="tableEntradas" show-filter='true' class="table table-light">  
              <thead class="table-warning text-center">
                <tr ng-repeat="controlService in $data">
                  <th scope="col">Producto</th>
                  <th scope="col">Cantidad</th>
                </tr>
              </thead>
              <tbody class="text-center table-secondary" *ngFor="let controlService of listadoControl | async"> 
                <tr>
                  <td>{{controlService.producto}}</td>
                  <td>{{controlService.cantidad | number}}</td>
                </tr>
              </tbody>    
              </table>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card"><div class="card-header text-white text-center" style="background-color: #005670"><h1><strong> Ultimos movimientos</strong></h1></div>
        <div class="card-body">
          <form>
            <div style="overflow-x:auto;"> 
              <table ng-table="tableEntradas" show-filter='true' class="table table-light">  
                <thead class="table-warning text-center">
                  <tr ng-repeat="controlService in $data">
                    <th scope="col">Fecha</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Cantidad</th>
                  </tr>
                </thead>
                <tbody class="text-center table-secondary" *ngFor="let controlService of listadoControl | async"> 
                  <tr>
                    <td>{{controlService.fecha}}</td>
                    <td>{{controlService.producto}}</td>
                    <td>{{controlService.cantidad | number}}</td>
                  </tr>
                </tbody>    
              </table>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
</div>
    
