<br>
<br>
<form #formGuardar="ngForm" (ngSubmit)="onGuardarEntrada(formGuardar)">
  <legend>Entradas</legend>
  <div style="overflow-x:auto;"> 
     <table class="table table-light">
        <thead>
            <tr>
              <th scope="col" >Fecha</th>
              <th scope="col">Cantidad</th>
              <th scope="col" >Producto</th>
              <th scope="col" >Precio</th>
              <th scope="col">Proveedor</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-active">   
                <td>
                    <div class="form-group">
                        <input type="date" class="form-control"  id="fecha" name="fecha" [(ngModel)]="controlentradas.fecha" #fecha="ngModel">        
                    </div>     
                </td>             
                <td>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Cantidad del Producto" 
                            id="cantidad" name="cantidad" [(ngModel)]="controlentradas.cantidad" #cantidad="ngModel">
                    </div> 
                </td>
                <td>
                    <div  class="form-group">
                        <input type="text" class="form-control" placeholder="Descripcion del Producto" 
                            id="Producto" name="Producto" [(ngModel)]="controlentradas.producto" #producto="ngModel">
                    </div> 
                </td>
                
                <td>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="$" 
                        id="Precio" name="Precio" [(ngModel)]="controlentradas.precio" #precio="ngModel">
                    </div> 
                </td>
                <td>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Proveedor" 
                        id="Proveedor" name="Proveedor" [(ngModel)]="controlentradas.proveedor" #proveedor="ngModel">
                    </div>    
                </td>
            </tr>
        </tbody>
      </table> 

</div>
<p class="lead">
        <button type="submit" class="btn btn-warning  btn-lg" value="Guardar"> Registrar</button>
      </p> 
</form>




<div class="tablas-dobles">
  <div>
      <h1 class="titulo-tabla">Entradas</h1>
      <table class="table-fill">
          <thead>
          <tr>
              <th>Fecha</th> 
              <th>Cantidad</th>
              <th>Producto</th>
              <th>Precio</th>
              <th>Proveedor</th>
              <th></th>
          </tr>
          </thead>
          <tbody>
              <ng-container *ngFor="let control of listadocontrol ">
                  <tr >
                      <td>{{control.fecha}}</td>
                      <td>{{control.payload.val().cantidad | number}}</td>
                      <td>{{control.payload.val().fecha}}</td> 
                      <td>{{control.payload.val().proveedor.nombre}}</td>
                      <td>{{control.payload.val().precio | number}} CLP</td>
                      <td>
                          <img class="clickable" (click)="eliminarEntrada(control.key)" src="../../../assets/img/eraser.svg" /> 
                      </td>                
                  </tr>
              </ng-container>            
          </tbody>    
      </table>
  </div>
 
</div>

