<br>
<br>
<form #formGuardar="ngForm" (ngSubmit)="onGuardarEntrada(formGuardar)">
<h1 class="titulo-tabla">Entradas</h1>
  <div style="overflow-x:auto;"> 
     <table class="table table-light">
        <thead>
            <tr>
              <th scope="col" >Fecha</th>
              <th scope="col">Cantidad</th>
              <th scope="col" >Producto</th>
              <th scope="col" >Precio</th>
              <th scope="col">Proveedor</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-active">   
                <td>
                    <div class="form-group">
                        <input type="date" class="form-control"  id="fecha" name="fecha" [(ngModel)]="controlentradas.fecha" #fecha="ngModel">        
                    </div>     
                </td>             
                <td>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Cantidad del Producto" 
                            id="cantidad" name="cantidad" [(ngModel)]="controlentradas.cantidad" #cantidad="ngModel">
                    </div> 
                </td>
                <td>
                    <div class="form-group" >   
                        <select aria-valuetext="producto" name="producto" class="form-control" placeholder="Producto"
                        [(ngModel)]="controlentradas.producto" #proveedor="ngModel" >
                            <option [ngValue]="Nombre" *ngFor="let productos of listadoProductos | async">{{productos.Nombre}}</option>
                           
                        </select>
                    </div>  
                </td>
                
                <td>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="$" 
                        id="Precio" name="Precio" [(ngModel)]="controlentradas.precio" #precio="ngModel">
                    </div> 
                </td>
                <td >
                    <div class="form-group" >
                        <select name="proveedor" class="form-control" placeholder="Proveedor"
                        [(ngModel)]="controlentradas.proveedor" #proveedor="ngModel" >
                        
                            <option [ngValue]="Nombre" *ngFor="let proveedores of listadoProveedores | async" >{{proveedores.Nombre}}</option>
                        </select>
                    </div>  
                </td>
                
            </tr>
        </tbody>
      </table> 
      
</div>

<input type="text" name="producto" [(ngModel)]="controlentradas.producto" #producto="ngModel" >

<p class="lead">
        <button type="submit" class="btn btn-warning  btn-lg" value="Guardar"> Registrar</button>
      </p> 
</form>
<form  *ngFor="let controlService of listadoControl | async" >
<div style="overflow-x:auto;"> 
    <table class="table table-light">  
        <thead>
            <tr>
                <th scope="col" >Fecha</th>
                <th scope="col">Cantidad</th>
                <th scope="col" >Producto</th>
                <th scope="col" >Precio</th>
                <th scope="col">Proveedor</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-active ">   
                <tr >
                    <td><div>{{controlService.fecha}}</div></td>
                    <td><div>{{controlService.cantidad | number}}</div></td>
                    <td><div>{{controlService.Producto}}</div></td>
                    <td><div>$ {{controlService.Precio | number}}</div> </td>
                    <td><div>{{controlService.Proveedor}}</div></td>
                </tr>
          </tbody>    
      </table>
  </div>
</form>